.experience-container {
  margin: 4rem 0;
  position: relative;
}

.experience-container h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.arrow-left,
.arrow-right {
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.65rem;
  background: #03a7ff;
  position: absolute;
  top: 55%;
  z-index: 2;
  cursor: pointer;
}

.arrow-left {
  left: 0rem;
  padding-right: 2px;
  border: solid 1.5px white;
}

.arrow-right {
  right: 0rem;
  padding-left: 2px;
  border: solid 1.5px white;
}

@media (max-width: 768px) {
  .experience-container h5 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }

  .arrow-left {
    left: -1rem;
  }

  .arrow-right {
    right: -1rem;
  }
}
