.music-player {
  border-radius: 20px;
  background-color: #ff0054;
  color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Arial", sans-serif;
}

.album-cover img {
  width: 100%;
  border-radius: 10px;
}

.song-info {
  text-align: center;
  margin: 10px 0;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
}
