.cv-container {
  margin: 2rem auto 0 auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #03a7ff;
  border: solid 1px #03a7ff;
  text-align: center;
  // max-width: 20%;
  cursor: pointer;
}

.cv-container:hover {
  background-color: transparent;
}

.cv-container h5 {
  font-size: 1rem;
  font-weight: 400;
}
